*/.gradle*
*/.kotlin*
*.DS_Store
.idea/*
*local.properties
mygroceries/build/*
mygroceries/server/build/*
mygroceries/shared/build/*
mygroceries/web/build/*
mygroceries/androidApp/build/*
mygroceries/.idea/*
mygroceries/iosApp/iosApp.xcodeproj/*
seed/*